<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Confluence Username: <%= @user.conf_username if @user.conf_username %></p>
<p>Jira Username: <%= @user.jira_username if @user.jira_username %></p>
